
<!DOCTYPE HTML>
<html>
	<head>
	<title>约会神器-简约</title>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <link rel="canonical" href="http://www.jianyueapp.com/">
	    <link rel="shortcut icon" href="images/ico.png" />
	    <meta name="description" content="简约-陌生人交友，约会，发现App。社交，同城，高富帅，白富美，屌丝，靓女，美眉，暖男，猛男，帅哥，婚恋，闺蜜，陌陌，无密，秘密，约炮。">
	    <meta property="og:site_name" content="jiayueapp">
	    <meta property="og:type" content="website">
	    <meta property="og:url" content="http://www.jianyueapp.com/">
	    <meta property="og:title" content="约会神器 &amp; 陌生人发现、交友平台 - 简约">
	    <meta property="og:description" content="description" content="简约-最安全，私密，真实，快捷的陌生人社交手机应用。社交，同城，高富帅，白富美，屌丝，靓女，美眉，暖男，猛男，帅哥，婚恋，闺蜜，陌陌，无密，秘密，约炮。">
	    <meta property="og:image" content="http://www.jianyueapp.com/images/logo.png">
	    <meta property="og:locale" content="en_US">
	    <link rel="image_src" href="http://www.jianyueapp.com/images/logo.png">
	    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="Airbnb">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/style.css" rel='stylesheet' type='text/css' />
		<link rel="shortcut icon" type="image/x-icon" href="images/fav-icon.png" />
		<script type="application/x-javascript"> 
			addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		</script>
		<!-- Owl Carousel Assets -->
		<link href="css/owl.carousel.css" rel="stylesheet">
		<script src="js/jquery-1.9.1.min.js"></script> 
		     <!-- Owl Carousel Assets -->
		    <!-- Prettify -->
		    <script src="js/owl.carousel.js"></script>
		        <script>
		    $(document).ready(function() {
		
		      $("#owl-demo").owlCarousel({
		        items : 4,
		        lazyLoad : true,
		        autoPlay : true,
		        navigation : true,
			    navigationText : ["",""],
			    rewindNav : false,
			    scrollPerPage : false,
			    pagination : false,
    			paginationNumbers: false,
		      });
		
		    });
		    </script>
		   <!-- //Owl Carousel Assets -->
		  <!-- Add fancyBox light-box -->
		<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
		<link href="css/magnific-popup.css" rel="stylesheet" type="text/css">
				<script>
					$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
					});
				});
		</script>
		<!-- //End fancyBox light-box -->
	</head>
	<body>
		<!----start-wrap---->
			<!----start-header----->
			<div class="header">
				<div class="wrap">
					<div class="header-left">
						<span> </span>
					</div>
					<div class="header-right">
						<span  onclick="location.href='index.html';"> </span>
						<img src="images/logo.png" title="" />
						<p>&nbsp;</p>
						<a class="bigbtn website_link" href="http://www.jianyueapp.com/images/jianyueapp.apk">&nbsp;</a>
						<!-- <p>简约、真实、有内涵！亮点多多自己找</p> -->
						<!--<a class="bigbtn" href="" href="#"><img class="lazyOwl" src="images/google-play.png" ></a>-->
<!--
<a class="bigbtn" href="http://www.jianyueapp.com/images/jianyueapp.apk"><img class="lazyOwl" src="images/web-install.png" ></a>
-->
					</div>
					<div class="clear"> </div>
				</div>
			</div>
			<!----//End-header----->
			<!---pop-light-box--->
								<!-----pop-up-grid---->
								 <div id="small-dialog" class="mfp-hide">
									<div class="pop_up">
										<h3>Available On!</h3>
										<p>简约,让该陌生的保持陌生。</p>
										<ul>
											<li><a class="iphone" href="#"> </a></li>
											<li><a class="google" href="#"> </a></li>
										</ul>
						  			</div>
								</div>
								<!-----pop-up-grid---->
			<!---//pop-light-box--->
			<!--start-content--->
			<div class="content">
				<div class="wrap">
				<!----start-img-cursual---->
				<!-- start content_slider -->
					       <div id="owl-demo" class="owl-carousel">
				                <div class="item" ><img class="lazyOwl" data-src="images/c8.jpg" >
				                	<a href="#"><span>简约</span></a>
				                	<p>化繁为简显内涵,亮点多多自己找。既然是约会，就越直接越爽。</p>
				                </div>
				                <div class="item" ><img class="lazyOwl" data-src="images/c5.jpg" >
				                	<a href="#"><span>丰富</span></a>
				                	<p>“简约”汇聚各种白富美、高富帅，机会多多用者秒懂！</p>
				                </div>
				                <div class="item" ><img class="lazyOwl" data-src="images/c6.jpg" >
				                	<a href="#"><span>真实</span></a>
				                	<p>真实面对面，有图有真相，让假聊和马甲无处藏身。</p>
				                </div>
				                <div class="item" ><img class="lazyOwl" data-src="images/c7.jpg" >
				                	<a href="#"><span>快捷</span></a>
				                	<p>即装即用，无须注册，没有繁琐认证，即刻开始约会。</p>
				                </div>
				                <div class="item" ><img class="lazyOwl" data-src="images/c5.jpg" >
				                	<a href="#"><span>私密</span></a>
				                	<p>阅后即焚，无公共信息，绝对私密。</p>
				                </div>
				                <div class="item" ><img class="lazyOwl" data-src="images/c9.jpg" >
				                	<a href="#"><span>安全</span></a>
				                	<p>不收集用户的任何个人信息,无密可保，自然无懈可击。</p>
				                </div>
			              </div>
				<!----//End-img-cursual---->
				<!---start-get-download-link--
				<div class="get-download">
					<p>Get your <span>free</span> <a class="downloadbtn popup-with-zoom-anim" href="#small-dialog" href="#">Download</a> of <a class="slogo" href="#"><img src="images/slogo.png" title="" /> </a> to day!</p>
				</div>-->
				<!---//End-get-download-link---->
				<!----start-divice-features---->
				<div class="divice-fea">
					<div class="divice-fea-left">
						<p>&nbsp;&nbsp;</p>
						<p>&nbsp;&nbsp;</p>
						<p>
						
<a class="bigbtn apple_link" href="https://itunes.apple.com/us/app/jian-yue/id888217548?ls=1&mt=8">&nbsp;</a>
<a class="bigbtn google_link" href="https://play.google.com/store/apps/details?id=com.jianyue.main.controller&hl=en">&nbsp;</a>
<a class="bigbtn wandoujia_link" href="http://www.wandoujia.com/apps/com.jianyue.main.controller">&nbsp;</a>
<a class="bigbtn xiaomi_link" href="http://app.xiaomi.com/detail/69583">&nbsp;</a>
<br/><br/>

</p>
						<div class="divice-fea-left-grid">
							<h3><span>约会社交的至高境界：简约、真实、有内涵。</span></h3>
							<p>
								๐ 免注册使用 = 无需注册、即装即用 <br/>
								๐ 真实面对面 = 让假聊和马甲无处藏身   <br/>
								๐ 不绑架用户 = 简约是唯一不强迫绑定用户私密信息的社交平台 <br/>
                                                                                                                                                                                                                     ๐ 远离朋友圈 = 既然是找陌生人、既然是约会、就要远离朋圈。随性、自由、不瓜葛、无负担！ <br/>
							</p>
						</div>
						<div class="divice-fea-left-grid">
							<h3><span>让该陌生的保持陌生和新鲜</span></h3>
							<p>
								“简约” 能让您在陌生的芸芸众生中迅速锁定心仪或需要的TA，并让您在一个绝对安全、私密、快捷的情境下进行阅后即焚的畅快交流。最酷的是，使用 “简约” 可以让您在无需注册、不绑定任何私密信息的情况下，保证网络另一端的TA名副其实。真正做到真实性和私密性的完美平衡。
							</p>
						</div>
						<div class="divice-fea-left-grid">
							<h3><span>招之即来+阅后即焚</span></h3>
							<p>
								面对每日生活中扑面尔来的巨大信息量，简洁即是美，安全带来高效，实用才是王道。无论是交友约会、娱乐消闲、乃至是生意职场，“简约” 都是您最简洁、安全、高素质的约会社交工具。
							</p>
						</div>
					</div>
					<div class="divice-fea-right">
						<span> </span>
					</div>
					<div class="clear"> </div>
				</div>
				<!----//End-divice-features---->
				<!---start-footer---->
				<div class="footer">
					<div class="footer-left">
						<p>&#169; 2014 <span>Human Services Hub, Corp.</span> 版权所有</p>
					</div>
					<div class="footer-right">
						<p>
							<a href="http://www.miibeian.gov.cn/">皖ICP备14011292号</a>
							<a href="http://fir.im/jianyue">JY</a>
						</p>
					</div>
					<div class="clear"> </div>
				</div>
				<!---//End-footer---->
				</div>
			</div>
			<!--//End-content--->
		<!----//End-wrap---->
	</body>
</html>


