<!doctype html>
<html lang="en">


<head>
  

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  
<!-- =========================
      BASIC PAGE INFORMATION
============================== -->
    <!-- PAGE TITLE -->
    <title>新星科技</title>
    
    <!-- WHAT'S YOUR PAGE ABOUT? -->
    <meta name="description" content="Responsive Bootstrap App Landing Page Template">
    
    <!-- KEYWORDS THAT DESCRIBES YOUR PAGE -->
    <meta name="keywords" content="Alive, Bootstrap, Landing page, Template, App, Mobile">
      
    <!-- HELP US SPREAD THE LOVE :-) -->
    <meta name="author" content="viventethemes.com">
    
    <!-- ALLOW GOOGLE TO INDEX YOUR PAGE -->
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">


<!-- =========================
      FAV & TOUCH ICONS  
============================== -->
    <!-- FAVICON FOR DESKTOPS -->
    <!-- SET OF FAVICONS FOR APPLE PRODUCTS -->
    <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
      


<!-- =========================
     MAIN STYLESHEETS   
============================== -->
    <!-- BOOTSTRAP -->
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet">
      
    <!-- ALIVE! THEME -->
    <link href="css/style-default.css" rel="stylesheet" id="theme-change">
      

  
  
<!-- =========================
     ANIMATIONS  
============================== -->
    <!-- ALIVE THEME ANIMATIONS -->
    <!-- ANIMATIONS BASED ON ANIMATE.CSS -->
    <link href="css/animations/animations.css" rel="stylesheet" type="text/css">
  
  
<!-- =========================
     INTERNET EXPLORER FIXES  
============================== -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    

</head>


<body id="body" class="page-loading">
    
<!-- =========================
     PRELOADER
============================== -->
    <div id="preloader">
        <div id="loading"></div>
    </div>
  
  
<!-- =========================
     MAIN MENU
============================== -->
    <nav id="mainmenu" class="navbar navbar-fixed-top main-menu head-menu auto-height" role="navigation">
        <div class="container">
            
            <!-- LOGO CONTAINER -->
            <div class="logo-cont">
                    <a class="navbar-brand" href="#header"><!-- SCROLLS TO TOP OF THE PAGE -->
                        
                        <!--PLACE URL OF YOUR LOGO BELOW-->
                        <img src="img/01-logo-ORANGE.png" alt>
                        
                    </a>
                    
            </div>
            
            <!-- MAIN MENU BUTTONS CONTAINER -->
            
            
            <!-- "BURGER MENU" FOR RESPONSIVE VIEW -->
            <div class="navbar-header" id="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            
            <!-- MAIN MENU CONTAINER -->
            <div id="navbar" class="navbar-collapse collapse">
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                      
                        <!-- MAIN MENU POSITIONS -->
                        <li><a href="#features">关于新星</a></li>
                        <li><a href="#about">什么是Nova Beacon</a></li>
                        <li><a href="#pricing">Nova Beacon如何运行</a></li>
                        <li><a href="#pro">什么是应用程序</a></li>
                        
                    </ul>
                </div>
            </div>
            
        </div>
    </nav>

  
<!-- =========================
     JOIN US MODAL
============================== -->
    


<!-- =========================
     HEADER
============================== -->
    <section id="header" class="parallax">
        
      <!-- FOR COLOR OVERLAY, CHANGE CLASS TO color-overlay -->
      <div class="overlay">
         <div class="container">
              <div class="row">
                
                  <!-- HEADER CONTENT LEFT -->
                  <div class="header-cont col-xs-12 col-sm-12 col-md-8">
                    
                      <!-- MARGIN FROM TOP -->
                      <div class="header-margin"></div>
                      
                      <!-- HEADER TEXT -->
                      <header class="anim-bounce-up">
                          
                          <!-- HEADER TITLE -->
                          <h1>
                              
                              <!-- SMALL TITLE -->
                              <span class="header-txt-small">Nova Beacon</span><br/>
                              
                              <!-- REGULAR TITLE -->
                              <span class="header-txt-color">新星</span>科技
                              
                          </h1>
                          
                          <!-- SUBTITLE -->
                          <h3>改变世界，引领信息潮流</h3>
                          
                      </header>
                      
                      <!-- HEADER BUTTONS -->
                      <div class="buttons-cont">
                          
                          <!-- DOWNLOAD BUTTON -->
                          <div class="btn btn-lg btn-success anim-bounce-left">
                            <a href="#">
                                
                                <!-- ICON -->
                                <span class="elegant icon_cloud-download_alt"></span>
                                
                                <!-- BUTTON TEXT -->
                                下载
                                
                            </a>
                          </div>
                          
                          <!-- LEARN MORE BUTTON -->
                          <div class="btn btn-lg btn-info anim-bounce-right">
                            <a href="#features">
                                
                                <!-- ICON -->
                                <span class="elegant arrow_carrot-2down"></span>
                                
                                <!-- BUTTON TEXT -->
                                详情
                            
                            </a>
                          </div>
                          
                      </div>
                      
                  </div>
                  
                  <!-- HEADER CONTENT RIGHT -->
                  <div class="header-cont col-md-4 hidden-sm hidden-xs">
                    
                    <!-- MARGIN FROM TOP -->
                    <div class="header-margin"></div>
                    
                    <!-- PRODUCT IMAGE -->
                    <div class="header-image-right">
                        <img class="anim-from-right" src="img/header/img-iphone.png" alt>
                    </div>
                    
                  </div>
                  
              </div>
          </div>
          
      </div>
    </section>


<!-- =========================
     FEATURES
============================== -->
    <section id="features">
          <div class="container">
            
              <!-- VISABLE FEATURES -->
              <div class="row">
                
                  <!-- FEATURE 1 -->
                  <div class="feature col-md-4 col-sm-12">
                    
                      <!-- FEATURE ICON -->
                      <span class="elegant icon_1 anim-bounce-left"></span>
                      
                      <!-- FEATURE TITLE -->
                      <h5>Nova Beacon</h5>
                      
                      <!-- FEATURE DESCRIPTION -->
                      <p>改变世界，引领信息潮流</p>
                      
                  </div>
                  
                  <!-- FEATURE 2 -->
                  <div class="feature col-md-4 col-sm-12">
                    
                      <!-- FEATURE ICON -->
                      <span class="elegant icon_2 anim-bounce"></span>
                       
                      <!-- FEATURE TITLE -->
                      <h5>Nova Beacon</h5>
                       
                      <!-- FEATURE DESCRIPTION -->
                      <p>把世界连接到你的智能设备</p>
                       
                  </div> 
                  
                  <!-- FEATURE 3 -->
                  <div class="feature col-md-4 col-sm-12">
                    
                      <!-- FEATURE ICON -->
                      <span class="elegant icon_3 anim-bounce-right"></span>
                      
                      <!-- FEATURE TITLE -->
                      <h5>Nova Beacon</h5>
                      
                      <!-- FEATURE DESCRIPTION -->
                      <p>所有数据让你一手掌握</p>
                      
                  </div>
              </div>

              
          </div>
    </section>


<!-- =========================
     ABOUT
============================== -->
    <section id="about">
    
      <div class="about-cont bg-grey">
          <div class="container">
              <div class="row">
                
                <!-- ABOUT IMAGE -->
                <div class="col-md-6 about-img">
                  
                    <!-- PLACE YOUR ABOUT IMAGE BELOW -->
                    <img src="img/about/02.png" class="anim-from-left" alt>
                      
                </div>
                
                <!-- ABOUT TEXT SECTION -->
                <div class="col-md-6">
                  
                  <!-- ABOUT TITLE -->
                  <h3 class="anim-from-right">什么是Nova Beacon?</h3>
                  
                  <!-- ABOUT DESCRIPTION -->
                  <p class="anim-from-right">Nova Beacon是小型无线传感器，用户将Nova Beacon连接到任何位置和物品。当任何智能手机进行Nova Beacon设定区域时，可自动接收信息。Nova Beacon可识别设定区域内的位置地点，温度，运动路线，和物品类型所属权。</p>
                  <p class="anim-from-right">通过新星科技的设定，用户可用智能手机上的应用软件分析设定Nova Beacon所收集的信息。</p>
                  <p class="anim-from-right">新星科技把应用程序和Nova Beacon结合，把世界连接你的智能设备。</p>
                </div>
                
              </div>
          </div>
      </div>
      
    </section>

<!-- =========================
     PRICING
============================== -->
    <section id="pricing" class="caption-margin">
      
      <!-- SECTION TITLE -->
      <h3>
        
         Nova Beacon是如何运行的
          
      </h3>
      
      <div class="container">
          <div class="row">
            
              <!-- OFFER 1 -->
              <div class="col-md-4 col-sm-6 col-xs-12  anim-bounce">
                  <div class="offer  offer-best">
                      <!-- OFFER FEATURES -->
                      <div class="offer-features">
                      	  <span class="icon_4"></span>
                          <p>Nova Beacon是一个迷你电脑。他拥有强大的ARM处理器，内存，蓝牙智能模块，和温度，运动传感器。</p>
                      </div>
                      
                      
                  </div>
              </div>
              
              <!-- OFFER 2 -->
              <div class="col-md-4 col-sm-6 col-xs-12  anim-bounce">
                  <div class="offer  offer-best">
                      
                      <!-- OFFER FEATURES -->
                      <div class="offer-features">
                      	  <span class="icon_5"></span>
                          <p>Nova Beacon和应用软件构建一个移动交互平台。</p>
                      </div>
                      
                  </div>
              </div>
              
              <!-- OFFER 3 - FEATURED -->
              <div class="col-md-4 col-sm-6 col-xs-12 anim-bounce">
                  <div class="offer offer-best">
                      <!-- OFFER FEATURES -->
                      <div class="offer-features">
                      	  <span class="icon_6"></span>
                          <p>新星科技可在零售、教育、医疗、交通和酒店等行业构建应用程序。</p>
                      </div>

                  </div>
              </div>

              
              
          </div>
      </div>
    </section>
    
    
    
    
    
    <section id="pro">
    
      <div class="pro-cont bg-grey pro-to-right">
          <div class="container">
              <div class="row">
                
                <!-- ABOUT TEXT SECTION -->
                <div class="col-md-6">
                  
                  <!-- ABOUT TITLE -->
                  <h3 class="anim-from-left">什么是应用程序？</h3>
                  
                  <!-- ABOUT DESCRIPTION -->
                  <p class="anim-from-left">用户可以通过智能手机“看到”周围的世界，体验个性化的服务。</p>
                  <p class="anim-from-left">Nova Beacon和应用软件构建一个移动交互平台。</p>
                  <p class="anim-from-left">新星科技可在零售、教育、医疗、交通和酒店等行业构建应用程序。</p>
                  
                </div>
                
                <!-- ABOUT IMAGE -->
                <div class="col-md-6 pro-img">
                  
                    <!-- PLACE YOUR ABOUT IMAGE BELOW -->
                    <img src="img/about/01.png" class="anim-from-right" alt>
                      
                </div>
                
              </div>
          </div>
      </div>
      
    </section>




<!-- =========================
     FUN FACTS
============================== -->
    <section id="funfacts"  style="display:none" >
      <div class="container">
          <div class="row">
            
                  <!-- FUN FACTS CAROUSEL -->
                  <div class="carousel-funfacts" id="carousel-funfacts">
                    
                      <!-- FACT 1 -->
                      <div class="carousel-element col-md-12">
                        
                          <!-- ICON -->
                          <span class="elegant icon_mug anim-bounce"></span>
                          
                          <!-- NUMBER COUNT UP (DEFINATED IN alive.scripts.js) -->
                          <p id="count01" class="count"></p>
                          
                          <!-- DESCRIPTION -->
                          <p class="desc">Cups of coffee<br/>consumed</p>
                          
                      </div>
                      
                      <!-- FACT 2 -->
                      <div class="carousel-element col-md-12">
                        
                          <!-- ICON -->
                          <span class="elegant icon_mobile anim-bounce"></span>
                          
                          <!-- NUMBER COUNT UP (DEFINATED IN alive.scripts.js) -->
                          <p id="count02" class="count"></p>
                          
                          <!-- DESCRIPTION -->
                          <p class="desc">Phone calls<br/>made</p>
                          
                      </div>
                      
                      <!-- FACT 3 -->
                      <div class="carousel-element col-md-12">
                        
                          <!-- ICON -->
                          <span class="elegant icon_camera_alt anim-bounce"></span>
                          
                          <!-- NUMBER COUNT UP (DEFINATED IN alive.scripts.js) -->
                          <p id="count03" class="count"></p>
                          
                          <!-- DESCRIPTION -->
                          <p class="desc">Pictures taken during<br/>production</p>
                          
                      </div>
                      
                      <!-- FACT 4 -->
                      <div class="carousel-element col-md-12">
                        
                          <!-- ICON -->
                          <span class="elegant icon_cogs anim-bounce"></span>
                          
                          <!-- NUMBER COUNT UP (DEFINATED IN alive.scripts.js) -->
                          <p id="count04" class="count"></p>
                          
                          <!-- DESCRIPTION -->
                          <p class="desc">Scripts written<br/>& rewritten</p>
                          
                      </div>
                      
                      <!-- FACT 5(NO COUNT UP) -->
                      <div class="carousel-element col-md-12">
                        
                          <!-- ICON -->
                          <span class="elegant icon_cloud-upload_alt anim-bounce"></span>
                          
                          <!-- NUMBER -->
                          <p class="count no-count">753</p>
                          
                          <!-- DESCRIPTION -->
                          <p class="desc">Files uploaded<br/>on the server</p>
                          
                      </div>
                      
                      <!-- FACT 6 (NO COUNT UP) -->
                      <div class="carousel-element col-md-12">
                        
                          <!-- ICON -->
                          <span class="elegant icon_mug_alt anim-bounce"></span>
                          
                          <!-- NUMBER -->
                          <p class="count no-count">21</p>
                          
                          <!-- DESCRIPTION -->
                          <p class="desc">Cups of coffee<br/>too much</p>
                          
                      </div>
                      
                </div>
    
          </div>
      </div>
    </section>



<!-- =========================
     FOOTER
============================== -->
    <footer>
      <div class="container anim-fade-up">
        
          <!-- CREDITS - HELP US SPREAD THE LOVE :-) -->
          <div class="col-sm-3 col-xs-12 hidden-xs"><a href="http://themeforest.net/user/ViventeThemes">新星科技版权所有</a></div>
          
          <!-- SOCIAL MEDIA -->
          <div class="col-sm-6">

              
          </div>
          
          <!-- COPYRIGHT -->
          <div class="col-sm-3 col-xs-12">© 2015 all rights reserved.</div>
          
      </div>
    </footer>


<!-- =========================
     JS SCRIPTS
============================== -->
    <!-- JQUERY -->
    <script type="text/javascript" src="js/jquery_1.11.1.min.js"></script>
    
    <!-- BOOTSTRAP SCRIPTS -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    
    <!-- SMOOTH SCROLLING FIX -->
    <script type="text/javascript" src="js/smoothscroll.js"></script>
    
    
    <!-- HEADROOM -->
    <script type="text/javascript"  src="js/headroom.min.js"></script>      
    <script type="text/javascript"  src="js/jQuery.headroom.js"></script>
    
    <!-- VIEWPORT DETECTION -->
    <script type="text/javascript" src="js/jquery.inview.min.js"></script>
    
    <!-- CAROUSEL -->
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    
    <!-- COUTNUP -->
    <script type="text/javascript" src="js/countUp.min.js"></script>
    
    <!-- FORM VALIDATION -->
    <script type="text/javascript" src="js/validator.js"></script>
    
    <!-- IMAGE ZOOM - COLORBOX JS-->
    <script type="text/javascript" src="js/jquery.colorbox-min.js"></script>
    
    <!--CUSTOM THEME SCRIPTS & SETTINGS -->
    <script type="text/javascript" src="js/alive.scripts.js"></script>


</body>


</html>